---
layout: main
contact: one
sitemap: false
---

    {% include about.html %}

    {% include contact.html %}


    <section id="discounts-facebook">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Facebook</h2>
                    <hr class="star-primary">
                </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                        <div class="fb-like-box" data-href="https://www.facebook.com/dririnaalexandru" data-width="800" data-height="1000" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
                </div>
            </div>
        </div>
    </section>


