
     <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Despre noi</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Cabinetul GogaDent vine să stabilească noi standarde de calitate în tratamentul dentar modern. Cabinetul vrea să ofere pacienților săi serviciile stomatologice cele mai bune posibil, folosind materiale de top, aparatură și echipamente moderne , acordând în același timp o importanță deosebită dezinfecției și sterilizării. </p>
                </div>
                <div class="col-lg-4">
                    <p>Cabinetul noastru este specializat în tratamente cu implante dentare, în tratamentul bolii parodontale (parodontoza), ortodontie, endodonție, dar și celelalte tratamente respectă cele mai înalte standarde de calitate.</p>
                </div>
               
            </div>
            <div class="text-center">
                 <div class="col-sm-4 col-lg-offset-2">
                     <h3>Dr. Iarina Bulina</h3>
                    <img src="img/portfolio/cabin.png" class="img-responsive" alt="">
                </div>
                
                <div class="col-sm-4">                                         
                    <h3>Dr. Zohan Ardan</h3>

                    <img src="img/portfolio/cabin.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>