
     <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Despre noi</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Cabinetul stomatologic {{site.name}} vă oferă tratamente dentare inteligente la cele mai înalte standarde. Asigurăm pacienților noștri servicii stomatologice folosind materiale de top, aparatură și echipamente moderne.</p>
                </div>
                <div class="col-lg-4">
                    <p>Cabinetul nostru este specializat în tratamente cu implanturi dentare, în tratamentul bolii parodontale (parodontoza), ortodonție, endodonție și prin diversitatea serviciilor stomatologice oferite se adresează tuturor vârstelor</p>
                </div>
               
            </div>
            
            {% if page.contact == null %}

                <div class="row">
                    <div class="col-sm-4 col-lg-offset-2">
                        <div class="team-member">
                            <img src="{{site.contact.one.img}}" class="img-responsive img-circle" alt="">
                            <h4>{{site.contact.one.name}}</h4>
                            <p class="text-muted">Medic Dentist</p>
                            <ul class="list-inline social-buttons">
                               <li>
                                    <a href="{{site.contact.one.fb}}"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="tel: {{site.contact.one.tel}}"><i class="fa fa-fw fa-phone"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="{{site.contact.two.img}}" class="img-responsive img-circle" alt="">
                            <h4>{{site.contact.two.name}}</h4>
                            <p class="text-muted">Medic Dentist</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="{{site.contact.two.fb}}"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="tel:{{site.contact.two.tel}}"><i class="fa fa-fw fa-phone"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </section>