
    <!-- Contact Section -->
    <section class="success" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h3>Adresa</h3>
                        <p>Bulevardul Octavian Goga Nr 21, Bl M103, Sc 2, Ap 35, Interfon 35<br/>Sector 3, Bucuresti</p>
                        <h3>Telefon</h3>
                        <p>{{site.contact.office.tel}}</p>
                        <p>{{site.contact.one.name}} - {{site.contact.one.tel}}</p>
                        <p>{{site.contact.two.name}} - {{site.contact.two.tel}}</p>

                        <h3>Harta</h3>
                        <div id="map-canvas"></div>
                </div>
            </div>
            
        </div>
    </section>