    <section id="discounts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Oferta implant dentar 250 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Pretul promotional pentru implanturile dentare (redus de la 400 euro per implant) ne permite sa oferim pachete complete de tratament mai ieftine. Pentru mai multe detalii ne puteti contacta telefonic.</p>
                    
                    
                    <br/>
                    <img src="img/promo/implants-250.gif" class="img-responsive" alt="">

                </div>
            </div>
            
        </div>
    </section>