    <section id="discount-implant">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ofertă implant dentar 250 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Ofertă valabilă pană la data de 1 Aprilie 2015.</p>
                    
                    
                    <br/>
                    <img src="img/promo/implants-250.gif" class="img-responsive" alt="">
                    
                
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Un implant dentar este o rădăcină de dinte artificial, care este plasată în maxilar pentru a ajuta la montarea unei coroane dentare sau a unei punți. Implanturile dentare pot fi o opțiune pentru persoanele care au pierdut un dinte sau mai mulți dinți din cauza bolii parodontale, o accidentare, sau din alte motive. </p>
<p>
Candidatul ideal pentru un implant dentar trebuie sa fie în stare bună de sănătate orală. Este nevoie de os adecvat în maxilar pentru a sprijini implantul, iar cei mai buni candidați sunt cei care au țesuturile sănătoase si gingii neafectate de boala parodontală.
</p>
                    <p>Înlocuirea unui singur dinte: Dacă lipsește un singur dinte, un implant și o coroană îl pot înlocui.</p>
<p>Înlocuirea mai multor dinți: Dacă lipsesc mai mulți dinți, o punte sprijinită de implanturi îi pot înlocui.</p>
<p>Înlocuirea tuturor dinților: Dacă lipsesc toți dinții, o punte intreagă susținută de implanturi sau proteză completă îi pot înlocui.</p>
                    
                </div>
            </div>
            
        </div>
    </section>


    <section id="discount-crown">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ofertă coroană zirconiu 600 RON</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Ofertă valabilă pană la data de 1 Aprilie 2015.</p>
                    
                    
                    <br/>
                    <img src="img/promo/zirconiu-age-600.jpg" class="img-responsive" alt="">
                    
                
                </div>
            </div>
            
        </div>
    </section>