    <section id="discounts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Oferta implant dentar 250 euro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Ofertă valabilă pană la data de 1 Martie 2015.</p>
                    
                    
                    <br/>
                    <img src="img/promo/implants-250.gif" class="img-responsive" alt="">

                </div>
            </div>
            
        </div>
    </section>