
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if page.isMain %}
                        <img class="img-responsive" src="img/profile.png" alt="">
                    {% endif %}
                    <div class="intro-text">
                        <span class="name">Cabinet Stomatologic IQDent</span>
                        <hr class="star-light">
                        <span class="skills">Dr. Iarina Bulina - Dr. Zohan Ardan</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
