
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if page.showLogo %}
                        <img class="img-responsive" src="img/profile.png" alt="">
                    {% endif %}
                    <div class="intro-text">
                        {% if page.showLogo %}
                            <span class="name">Cabinet Stomatologic {{site.name}}</span>
                        {% else %}
                            <span class="name">{{site.name}}</span>
                        {% endif %}
                        <hr class="star-light">
                        {% if page.contact == 'one' %}
                            <img src="{{site.contact.one.img}}" class="img-responsive img-circle" alt="">

                            <p class="skills">{{site.contact.one.name}}</p> 
                            <p class="skills">Telefon: {{site.contact.one.tel}}</p>                        
                        {% elsif page.contact == 'two' %}
                            <img src="{{site.contact.two.img}}" class="img-responsive img-circle" alt="">

                            <p class="skills">{{site.contact.two.name}}</p> 
                            <p class="skills">Telefon: {{site.contact.two.tel}}</p>
                        {% else %}
                            <span class="skills">{{site.contact.one.name}} - {{site.contact.two.name}}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
