
     <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mesaje și întrebări</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Ne puteți lăsa un mesaj sau o întrebare:</p>
                    <br/>
                    
                  
                    
                     {% if page.contact == 'one' %}
                            <div class="fb-comments" data-href="http://www.iqdent.ro/irina-mesaje.html" data-numposts="5" data-colorscheme="light"></div>   
                   
                    {% else %}
                            <div class="fb-comments" data-href="http://www.iqdent.ro/mesaje.html" data-numposts="5" data-colorscheme="light"></div>                        
                    {% endif %}

                </div>
               
               
            </div>
        </div>
    </section>