<table id="pricesTable">
   <tbody>
       <tr><th>TIPUL INTERVENTIEI</th><th>PRETUL (RON)</th></tr>
       <tr><td>Consultatie + deviz estimativ</td><td>Gratis</td></tr>
                  
       <tr><th>TRATAMENTUL CARIEI DENTARE</th><th></th></tr>
       <tr><td>Obturatie foto pe dinti frontali</td><td>150 lei</td></tr>
       <tr><td>Obturatie foto pe dinti laterali</td><td>100 lei</td></tr>
       
       <tr><th>TRATAMENT ENDODONTIC</th><th></th></tr>
       <tr><td>Tratament de canal dinte monoradicular vital</td><td>100 lei</td></tr>
       <tr><td>Tratament de canal dinte pluriradicular vital</td><td>150 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare: prima sedinta</td><td>60 lei</td></tr>
       <tr><td>Tratamentul gangrenei pulpare: pansament antiseptic</td><td>30 lei</td></tr>
       <tr><td>Obturatie de canal</td><td>60 lei</td></tr>
       
       <tr><th>IMPLANTOLOGIE</th><th></th></tr>
       <tr><td>Implant dentar AlphaBio 6 ani garantie (include bont de vindecare si bont protetic)</td><td><del>1800 lei</del> <p> 1100 lei</p></td></tr>
       <tr><td>Lifting de sinus fereastra externa (toate materialele incluse)</td><td>2500 lei</td></tr>
       <tr><td>Membrana rezorbabila</td><td>100 lei</td></tr>
       <tr><td>Aditie de os</td><td>100 lei</td></tr>
       
       <tr><th>CHIRURGIE</th><th></th></tr>
       <tr><td>Extractie dinti monoradiculari / pluriradiculari simpla</td><td>100 lei</td></tr>
       <tr><td>Extractie molari de minte</td><td>200 lei</td></tr>
       <tr><td>Extractie molari inclusi/semi-inclusi</td><td>400 lei</td></tr>
       <tr><td>Extractie dinti monoradiculari/pluriradiculari complicata</td><td>200 lei</td></tr>
       <tr><td>Rezectie apicala incisivi</td><td>400 lei/dinte</td></tr>
       <tr><td>Rezectie apicala premolari, molari</td><td>500-700 lei/dinte</td></tr>
       <tr><td>Chistectomie</td><td>400 lei</td></tr>
       <tr><td>Frenectomie/frenoplastie</td><td>100 lei</td></tr>
       <tr><td>Pericoronarita molar 3-decapusonare</td><td>100 lei</td></tr>
       
       <tr><th>PARODONTOLOGIE</th><th></th></tr>
       <tr><td>Imobilizarea dintilor cu compozit + fibra de sticla (un dinte)</td><td>50 lei</td></tr>
       <tr><td>Chiuretaj subgingival camp inchis</td><td>50 lei/dinte</td></tr>
       <tr><td>Chiuretaj subgingival camp deschis</td><td>100 lei/dinte</td></tr>
       <tr><td>Echilibrare ocluzala</td><td>100 lei</td></tr>
       <tr><td>Antibiograma</td><td>300 lei</td></tr>
       
       <tr><th>PROFILAXIE</th><th></th></tr>
       <tr><td>Detartraj cu ultrasunete + periaj profesional</td><td>100 lei</td></tr>
       <tr><td>Periaj profesional</td><td>50 lei</td></tr>
       <tr><td>Gutiera bruxism sau albire/arcada</td><td>150 lei</td></tr>
       <tr><td>Air flow</td><td>50 lei</td></tr>
       
       <tr><th>PROTETICA</th><th></th></tr>
       <tr><td>Coroana integral fizionomica pe implant:</td><td></td></tr>
       <tr><td>pe suport metalic</td><td>650 lei</td></tr>
       <tr><td>pe suport de Zirconiu</td><td>800 lei</td></tr>
       <tr><td>Proteza totala pe implante:</td><td></td></tr>
       <tr><td>Supra proteza pe implante (pe 2 implante tip capse)</td><td>2500 lei</td></tr>
       <tr><td>Supra proteza pe implante (pe 4 implante tip capse)</td><td>3000 lei</td></tr>
       <tr><td>Coroana ceramica total fizionomica:</td><td></td></tr>
       <tr><td>Pe suport Cr-Ni</td><td>450 lei</td></tr>
       <tr><td>Integral ceramica (Empress)</td><td>800 lei</td></tr>
       <tr><td>Integral ceramica Zirconiu</td><td>600 lei</td></tr>
       <tr><td>Coroana acrilica</td><td>120 lei</td></tr>
       <tr><td>Pivot Metalic</td><td>100 lei</td></tr>
       <tr><td>Pivot Fibra de sticla</td><td>100 lei</td></tr>
       <tr><td>Ablatie (Taiere coroana)</td><td>30 lei</td></tr>
       <tr><td>Proteza total/Partiala acrilica</td><td>800 lei</td></tr>
       <tr><td>Coroana metalica</td><td>200 lei</td></tr>
       <tr><td>Fatete dentare</td><td>750 lei</td></tr>
       <tr><td>Scheletata cu sisteme speciale de retentie</td><td>1800 lei</td></tr>
       <tr><td>Scheletata cu  crosete turnate</td><td>1500 lei</td></tr>
       
       <tr><th>TRATAMENTE COPII</th><th></th></tr>
       <tr><td>Extractie dinti temporari</td><td>50 lei</td></tr>
       <tr><td>Obturatie glassionomer</td><td>50 lei</td></tr>
       <tr><td>Obturatie foto</td><td>70 lei</td></tr>
       <tr><td>Sigilare</td><td>50 lei</td></tr>
       
   </tbody>
</table>